{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('browser.static', filename='css/browser.css') }}" />
    <script type="text/javascript" src="{{ url_for('browser.static', filename='js/browser.js') }}"></script>
{% endblock head %}


{% block body %}
<div class="query_block">
    <div class="query_title">Account ID</div>
    <form id="account" action="{{ url_for('.api_account') }}" method="POST">
        <input type="text" name="id" size="60" value="0x15581c92DB672cC9316846aEF34DC46Ac95378c2" />
        <button class="go">GO</button>
    </form>
    <div class="read_result"></div>
</div>
<div class="query_block">
    <div class="query_title">Transaction ID</div>
    <form id="transaction" action="{{ url_for('.api_transaction') }}" method="POST">
        <input type="text" name="id" size="78" value="0x7da7b42e56162bbd0b4ce610d1cff1f688a83376d2940d3f75f7cc9e5641b609" />
        <button class="go">GO</button>
    </form>
    <div class="read_result"></div>
</div>
{% endblock body %}