{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('erc20.static', filename='css/erc20.css') }}" />
    <!--<script type="text/javascript" src="{{ url_for('static', filename='js/lib/web3.min.js') }}"></script>-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/ethereumjs-tx-1.3.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('erc20.static', filename='js/erc20.js') }}"></script>
{% endblock head %}

{% block top_link_erc20 %}active{% endblock %}
{% block topbar %}<div id="network">No network</div>{% endblock topbar %}

{% block body %}
<script>
    var tokenPrice = {{ token_price }};
</script>
<div id="title">Casual Crypto Gaming Token (CCG)</div>
<div id="subtitle">
    A token for casual games on the Ethereum blockchain.
    <div class="no_web3">
        <a href="/getting_started/">Click here</a> to learn how to purchase ether and tokens.
    </div>
    <div class="have_web3">
        Use the form below to purchase tokens!
    </div>
</div>
<table id="purchase" cellspacing="0" cellpadding="0">
    <tr id="quantity_row">
        <td>Quantity:</td><td><input autocomplete="off" name="quantity" type="number" value="100" /></td>
    </tr>
    <tr>
        <td>Unit:</td>
        <td id="token_unit"></td>
    </tr>
    <tr>
        <td>Price:</td>
        <td id="token_price"></td>
    </tr>
    <tr><td colspan="2" id="buy_cell"><button id="buy_button">PURCHASE</button></td></tr>
</table>
{% endblock body %}